.idea
.DS_Store
node_modules
*.sock
lib/http/public/stylesheets/main.css
*.rdb
test/incomplete

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
# client/dist
client/tmp

# dependencies
client/node_modules
client/bower_components

# misc
client/.sass-cache
client/connect.lock
client/coverage/*
client/libpeerconnection.log
client/npm-debug.log
client/testem.log
