body {
  padding: 50px;
  font: 14px/1.5 "helvetica neue", helvetica, arial, sans-serif;
  color: #888;
}
h1 {
  margin: 0;
  font-size: 18px;
  padding-left: 5px;
  color: #333;
  border-left: 1px dotted #eee;
}
h1 + span {
  display: none;
  margin-top: -15px;
}
ul {
  margin: 0;
  width: 620px;
}
ul li {
  text-align: center;
  margin: 0;
  padding: 30px 0;
  list-style: none;
}
ul li p {
  text-align: left;
  padding-left: 10px;
}
ul li img {
  -webkit-box-shadow: 0 0 15px 1px #ddd;
  -webkit-border-radius: 5px;
  border: 1px solid white;
}
p {
  margin: 5px 0 45px 0;
  color: #bbb;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #0AC6FF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}