.job
  .block.contents
    h2.id
    .attempts
    a.remove x
    canvas.progress(width=50, height=50)
    table.meta
      tbody
        tr
          td Type:
          td.type
        tr
          td Title:
          td.title
        tr
          td Error:
          td.errorMessage
  .details
    .data
      table.data
        tbody
          tr.state
            td State:
            td
          tr.priority
            td Priority:
            td
          tr.time.duration
            td Duration:
            td
          tr.time.created_at
            td Created:
            td
          tr.time.updated_at
            td Updated:
            td
          tr.time.failed_at
            td Failed:
            td
    .error
      pre
    .log
      ul