.block.job
  h2
  .attempts
  .overlay
    ul
      li: a.remove(href='#') Remove
      li: a.view(href='#') View
  table
    tr.type
      td Type:
      td 
    tr.title
      td Title:
      td 
    tr.progress
      td Progress:
      td: span.bar 0
    tr.error
      td Error:
      td message
