.job
    .block.contents
        h2.id
        a.remove x
        canvas.progress(width=50, height=50)
        table.meta
            tbody
                tr
                    td Type:
                    td.type
                tr
                    td Title:
                    td.title
                tr
                    td Error:
                    td.errorMessage
    .details
        .data
            table.data
                tbody
                    tr
                        td State:
                        td.state
                    tr
                        td Priority:
                        td.priority
                    tr
                        td Attempts:
                        td.attempts
                    tr.time
                        td Duration:
                        td.duration
                    tr.time
                        td Created:
                        td.created_at
                    tr.time
                        td Updated:
                        td.updated_at
                    tr.time
                        td Failed:
                        td.failed_at
        .error
            pre
        ul.log
    