.block.job
  h2
  .overlay
    ul
      li: a.remove(href='#') Remove
      li: a.retry(href='#') Retry
      li: a.view(href='#') View
  table
    tr.type
      td Type:
      td 
    tr.progress
      td Progress:
      td: span.bar 0
