
ul#menu
  li.inactive
    .count
    a(href='/inactive') Queued
  li.active
    .count
    a.active(href='/active') Active
  li.failed
    .count
    a(href='/failed') Failed
  li.complete
    .count
    a(href='/complete') Complete
