
ul#menu
  li.inactive
    a(href='./inactive')
      .count 0
      | Queued
  li.active
    a.active(href='./active')
      .count 0
      | Active
  li.failed
    a(href='./failed')
      .count 0
      | Failed
  li.complete
    a(href='./complete')
      .count 0
      | Complete
  li.delayed
    a(href='./delayed')
      .count 0
      | Delayed
