
.block#stats
  h2 Stats
  table
    tr.inactive
      td Queued:
      td: span.bar 0
    tr.complete
      td Complete:
      td: span.bar 0
    tr.active
      td Active:
      td: span.bar 0
    tr.failures
      td Failures:
      td: span.bar 0
