
ul#stats
  li.inactive 
    a(href='#inactive', title='queued jobs')
      span.bar 0
  li.complete
    a(href='#complete', title='completed jobs')
      span.bar 0
  li.active
    a(href='#active', title='active jobs')
      span.bar 0
  li.failures
    a(href='#failures', title='failed jobs')
      span.bar 0
