
.block#stats
  h2 Jobs
  table
    tr.inactive
      td Queued:
      td: span.bar 0
    tr.complete
      td Complete:
      td: span.bar 0
    tr.active
      td Active:
      td: span.bar 0
    tr.failures
      td Failures:
      td: span.bar 0

- each n in [1,2,3,4]
  .block(class='job-' + n)
    h2 #{n}
    table
      tr.progress
        td Progress:
        td: span.bar 0