table#stats
  tr.inactive
    td Queued
    td: span.bar 15
  tr.complete
    td Complete
    td: span.bar 30
  tr.active
    td Active
    td: span.bar 5
  tr.failures
    td Failures
    td: span.bar 5