html
  head
    title= settings.title
    link(rel='stylesheet', href='./stylesheets/main.css')
    script(src='./javascripts/utils.js')
    script(src='./javascripts/jquery.min.js')
    script(src='./javascripts/jquery.ext.js')
    script(src='./javascripts/caustic.js')
    script(src='./javascripts/progress.js')
    script(src='./javascripts/loading.js')
    script(src='./javascripts/job.js')
    script(src='./javascripts/search.js')
    script(src='./javascripts/main.js')
  body
    != partial('menu')
    #actions
      != partial('search')
      != partial('filter')
      != partial('sort')
    #content!= body
    script(type='text/template')#job-template!= partial('job')
    script(type='text/template')#row-template!= partial('row')
    #error
