html
    head
        title= title
        link(rel='stylesheet', href='./stylesheets/main.css')
        script(src='./javascripts/utils.js')
        script(src='./javascripts/jquery.min.js')
        script(src='./javascripts/jquery.ext.js')
        script(src='./javascripts/caustic.js')
        script(src='./javascripts/progress.js')
        script(src='./javascripts/loading.js')
        script(src='./javascripts/job.js')
        script(src='./javascripts/search.js')
        script(src='./javascripts/main.js')
    body
        include _menu
        #actions
            include _search
            include _filter
            include _sort
        #content
            block body
        script(type='text/template')#job-template
            include _job
        script(type='text/template')#row-template
            include _row
        #error
