html
  head
    title= settings.title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/main.js')
  body
    #header!= partial('stats')
    #content!= body
    #job-template!= partial('job')
    #error