<div class="job-detail">
    <div class="title">Job #{{job.id}} {{view Ember.Select content=selections selection=selected}} </div>
    <div class="console">
        <pre>{{format-json job}}</pre>
    </div>
</div>

