<div class="job-detail">
    <div class="title">Job #{{job.id}} {{view Ember.Select content=selections selection=job.selected}} </div>
    <div class="console">
        <pre>{{json-pretty data=job}}</pre>
    </div>
</div>

