<ul>
    <li>{{#link-to "jobs.index"}} Home {{/link-to}}</li>

    {{#each type in types}}
        <li>
            {{#link-to "jobs.type" type}} {{type}}  {{/link-to}}
        </li>
    {{/each}}
</ul>
