<div class="menu-list">
  {{#each item in items}}
    {{#link-to "jobs.type" item.type replace=true class='item'}}
      {{item.type}} <span class="item-count">{{item.count}}</span>
    {{/link-to}}
    {{#each subItem in item.subItems}}
      {{#link-to "jobs.type" subItem.type (query-params state=subItem.state) replace=true class="sub-item"}}
        {{subItem.state}} <span class="sub-item-count">{{subItem.count}}</span>
      {{/link-to}}
    {{/each}}
  {{/each}}
</div>
