<div class="container">
  <div class="menu">
    <div class="logo">{{#link-to "jobs.index"}} kue {{/link-to}}</div>
    {{menu-tabs stats=stats breakdowns=breakdowns}}
  </div>
  <div class="main">
    {{outlet}}
  </div>
</div>
