.main { margin-left: 250px;  margin-right: 300px;}

/* Menu */
.menu { position: absolute; width: 250px; height: 100%; background: #262626;}
.menu .logo { height: 75px;line-height: 75px; text-align: center;}
.menu .logo a { font-family: Montserrat-Regular; font-size: 24px; color: white; text-decoration: none;}
.menu-list a {
    font-family: 'Montserrat', sans-serif; font-size: 12px; color: #AAAAAA; text-decoration: none; line-height: 43px;
    width: 250px; display: block; height: 43px; padding-left: 10px;
}
.menu-list a.active {color: white; background: #CF553E;}

.top-bar { height: 75px; line-height:75px; font-family: 'Open Sans', sans-serif; font-size: 14px; padding-left: 20px;}
.top-bar > * {display: inline;}
.top-bar .right {float: right;}

.jobs {width:100%; }
.job, .jobs .heading{
    font-family: 'Open Sans', sans-serif; padding: 0px 10px; font-size: 12px;
    height: 40px; padding-left: 10px; line-height: 40px;
}
.jobs .heading {font-weight: bold; background: #ededed; color: #646464; text-transform: uppercase; font-size: 12px;}
.job:nth-child(odd) {background: #F8F8F8}
.job:nth-child(even) {background: white}
.job td {padding: 0px 10px;}
.jobs th {text-align: left; padding-left: 10px;}

/* shit html table */
.table{ display:table; border-collapse: collapse; }
.heading{display:table-row;text-align: center;}
.table-row{display:table-row;text-align: center;}
.col{display:table-cell;}


/* buttons */
.btn-log, .btn-paging {border-radius: 5px; background: #f8f8f8; border: 1px solid #979797; padding: 4px 9px; text-transform: uppercase;}


/* detail */
.jobs .detail {
    background: #3A3A3A; font-family: 'Open Sans'; text-align: left; color: white; font-size: 12px; border-radius: 5px;padding: 10px;
}

.paging { background: #ededed; height: 40px; line-height: 40px; font-family: 'Open Sans'; padding-left: 10px; font-size: 12px; text-transform: uppercase;}
.paging .btn-paging { display: inline;}
.btn-paging.next { }
