

#actions
  fixed: top -2px right -2px

#sort
#filter
  float: left
  margin: 0
  padding: 5px 10px
  border: 1px solid #eee
  border-radius: 0 0 0 5px
  -webkit-appearance: none
  color: dark
  outline: none
  cursor: pointer
  &:hover
    border-color: #eee - 10%

#sort
  border-radius: 0
  border-left: none