// general colors

dark = #3b3b3b
light = #666
lighter = #777

bg = #fff

// status colors

inactive-color = #00CCCC
complete-color = #00CC7A
active-color = #CCC500
failed-color = #c00

// menu config

menu-bg = dark
menu-fg = lighter

menu-intensity = 13%
menu-colored = false

// job config

job-bg = white

// scrollbar

scroll-bg = transparent
scroll-thumb = menu-bg
scroll-width = 6px
