
// general colors

dark = #8A8A8A
darker = #8A8A8A
light = #666

bg = #fff

// status colors

progress-color = #00CCCC
inactive-color = #00CCCC
complete-color = #00CC7A
active-color = #CCC500
failed-color = #c00

// menu config

menu-bg = #3b3b3b
menu-fg = #777

menu-intensity = 25%
menu-colored = false

// job config

job-bg = white

// scrollbar

scroll-bg = transparent
scroll-thumb = menu-bg
