
@import 'mixins'

highlight-color = #00B3E9

.context-menu
  display: none
  reset-list()
  decorated-box()
  li
    &:last-child a
      border-bottom: none
    a
      display: block
      background: white
      padding: 5px 10px
      border: 1px solid transparent
      border-bottom: 1px solid #eee
      font-size: 12px
      &:hover
        background: linear-gradient(bottom, highlight-color, highlight-color + 50%)
        color: white
        border: 1px solid white
      &:active
        highlight-color += 10%
        background: linear-gradient(bottom, highlight-color, highlight-color + 50%)
