
#error
  fixed: top -50px right 15px
  padding: 20px
  transition: top 500ms, opacity 500ms
  opacity: 0
  background: rgba(dark, .2)
  border: 1px solid rgba(dark, .3)
  border-radius: 5px
  color: dark
  &.show
    top: 15px
    opacity: 1
