
@import 'mixins'

#job-template
  display: none

bar(color)
  background: linear-gradient(top, color + 20%, color)
  border: 1px solid rgba(white, .2)
  color: white

// generic blocks

.block
  decorated-box()
  width: 90%
  margin: 10px 25px
  padding: 20px 25px
  h2
    margin: 0
    absolute: top 5px left -10px
    padding: 5px
    font-size: 10px
    border-radius: left 5px right 2px
    background: linear-gradient(left, menu-fg - 10%, 50% menu-fg + 5%)
    box-shadow: -1px 0 1px 1px rgba(black, .1)
    color: white
    text-shadow: 1px 1px 1px #444
  .type
    color: light + 50%

// job blocks

.block.job
  position: relative
  background: job-bg
  table td:first-child
    display: none
  .attempts
    display: none
    absolute: top right
    padding: 5px 8px
    border-radius: 2px
    font-size: 10px
  .remove
    absolute: top 30px right -6px
    background: white
    display: block
    width: size = 20px
    height: size
    line-height: size
    text-align: center
    font-size: 12px
    font-weight: bold
    outline: none
    border: 1px solid #eee
    border-radius: size
    transition: opacity 200ms, top 300ms
    opacity: 0
    &:hover
      border: 1px solid #eee - 10%
    &:active
      border: 1px solid #eee - 20%
  &:hover .remove
      opacity: 1
      top: -6px

// job progress

.bar
  display: block
  padding: 2px 0
  border-radius: 2px
  font-size: 12px
  text-indent: 5px
  opacity: 0
  transition: width 500ms ease-out, opacity 500ms ease-out
  .progress &
    bar(progress-color)

// job page

#job
  table td:first-child
    width: 35px

// job log

#log
  absolute: top right 10px
  padding: 0
  width: 300px
  overflow-y: auto
  max-height: 300px
  li
    padding: 2px 0
    list-style: none
    border-bottom: 1px solid rgba(light, .05)
    &:last-child
      border-bottom: none