
dark = #1A1919
light = #525252

body
  padding: 50px
  font: 14px "helvetica neue", helvetica, arial, sans-serif
  background: dark url('/images/bg.jpg') no-repeat fixed 50% 0
  color: light

h1
  font-weight: normal