
@import 'nib'

dark = #1A1919
darker = #111
light = #525252

body
  padding: 50px
  font: 14px "helvetica neue", helvetica, arial, sans-serif
  background: dark url('/images/bg.jpg') no-repeat fixed 50% 0
  color: light

h1
  font-weight: normal

button
a.button
input[type='submit']
  bold-button(glow: #00ABFA)

#header
  absolute: top left
  background: darker
  height: 30px
  line-height: 30px
  text-indent: 10px
  width: 100%
  border-bottom: 1px solid dark
  box-shadow: 0 0 2px 1px black