
@import 'nib'

font-smoothing()
  -webkit-font-smoothing: arguments

bar(color)
  background: linear-gradient(top, color + 30%, color)
  border: 1px solid rgba(white, .2)
  box-shadow: 0 1px 1px 0 rgba(black, .6)

dark = #1A1919
darker = #111
light = #666

body
  padding: 50px
  font: 14px "helvetica neue", helvetica, arial, sans-serif
  background: dark url('/images/bg.jpg') no-repeat fixed 50% 0
  color: light

button
a.button
input[type='submit']
  bold-button(glow: #00ABFA)

#header
  absolute: top left
  background: darker
  height: 40px
  line-height: 40px
  text-indent: 15px
  width: 100%
  border-bottom: 1px solid dark + 40%
  box-shadow: 0 0 2px 1px black
  .title
    font-smoothing: antialiased
    color: light + 50%

.bar
  font-smoothing: antialiased
  display: block
  padding: 2px 0
  border-radius: 8px
  font-size: 12px
  text-indent: 5px
  color: white
  text-shadow: 0 1px 1px rgba(black, .3)

table tr td:first-child
  font-smoothing: antialiased

#stats .failures .bar
  bar(#c00)

#stats .complete .bar
  bar(#18E67C)

#stats .active .bar
  bar(#DFE617)

#stats .inactive .bar
  bar(#0ACCF3)
