
::-webkit-scrollbar
  width: 10px
  height: 10px

::-webkit-scrollbar-button:start:decrement
::-webkit-scrollbar-button:start:increment
  display: block
  height: 30px
  background: #1A1919

::-webkit-scrollbar-track-piece
  background: #1A1919

::-webkit-scrollbar-thumb:vertical
  height: 50px
  background: #666
  border: 1px solid #eee
  border-radius: 6px
