
color = #2b2b2b

body
  ::-webkit-scrollbar
    width: 10px
    height: 10px

  ::-webkit-scrollbar-button:start:decrement
  ::-webkit-scrollbar-button:start:increment
    display: block
    height: 0

  ::-webkit-scrollbar-track-piece
    background: transparent

  ::-webkit-scrollbar-thumb:vertical
    height: 50px
    background: rgba(color, .3)
    border: 1px solid color
    border-radius: 6px
