
width = scroll-width
pad-x = 60px
pad-y = 40px

body
  padding: 50px 120px

/*
html
  overflow: auto

body
  position: absolute
  top: pad-y
  left: pad-x
  bottom: pad-y
  right: pad-x
  padding: 0 pad-x
  overflow-y: scroll
  overflow-x: hidden

::-webkit-scrollbar
  background: scroll-bg
  width: width

::-webkit-scrollbar-button:start:decrement
::-webkit-scrollbar-button:start:increment
  display: none

::-webkit-scrollbar-track
  border-radius: (width / 2)
  box-shadow: inset 0 0 1px rgba(black, .2), inset 0 4px 10px rgba(black, .2)
  border: 1px solid rgba(white, .5)

::-webkit-scrollbar-track-piece
  background: transparent

::-webkit-scrollbar-thumb:vertical
  height: 30px
  transition: background-color 300ms ease-out
  background: rgba(scroll-thumb, .5)
  border-radius: (width / 2)
  &:window-inactive
    background: rgba(scroll-thumb, .2)
*/